.about-us-container {
    text-align: center;
    margin-top: 50px; /* Adjust margin as needed */
  }
  
  .about-us-heading {
    font-size: 2.5rem; /* Adjust font size as needed */
  }
  
  .about-us-text {
    font-size: 1.2rem; /* Adjust font size as needed */
    max-width: 600px; /* Adjust max width as needed */
    margin: 0 auto; /* Center align */
    line-height: 1.6; /* Adjust line height as needed */
    margin-bottom: 20px; /* Adjust margin as needed */
  }
  
  .our-story-button {
    padding: 10px 20px;
    border-radius: 20px; /* Rounded border radius */
    background-color: #007bff; /* Example button color */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem; /* Adjust font size as needed */
    margin-top: 20px; /* Adjust margin as needed */
  }
  
  .our-story-button:hover {
    background-color: #0056b3; /* Example button hover color */
  }
  
  .additional-section {
    max-width: 800px; /* Adjust max width as needed */
    margin: 0 auto 40px; /* Center align and add bottom margin */
    text-align: left; /* Align text to the left */
  }
  
  .additional-section h2 {
    font-size: 1.8rem; /* Adjust font size as needed */
    margin-bottom: 10px; /* Adjust margin as needed */
  }
  
  .additional-section p {
    font-size: 1.1rem; /* Adjust font size as needed */
    line-height: 1.6; /* Adjust line height as needed */
    margin-bottom: 15px; /* Adjust margin as needed */
  }
  